@font-face {
    font-family: 'Verdana';
    src: url('../fonts/Verdana.woff2') format('woff2'),
        url('../fonts/Verdana.woff') format('woff'),
        url('../fonts/Verdana.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Verdana-Bold';
    src: url('../fonts/Verdana-Bold.woff2') format('woff2'),
        url('../fonts/Verdana-Bold.woff') format('woff'),
        url('../fonts/Verdana-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Consolas';
    src: url('../fonts/Consolas-Bold.woff2') format('woff2'),
        url('../fonts/Consolas-Bold.woff') format('woff'),
        url('../fonts/Consolas-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
body{
	background-image: url(../img/background.jpg);
	background-position: center;
	background-repeat: no-repeat;      
	background-attachment: fixed; 
	background-size: cover;  

}
a{	
text-decoration: none;
}
div.main{
		position: relative;
		width: 1366px;
		height: 768px;
		margin: auto;
		
}
.logo{
		
		float: left;
		margin-top: 49px;
   		margin-left: 155px;
		height: 44px;
		width: 166px;

}
.logo1{
		position: absolute;
		background-image: url(../img/logo.png);
		width: 46px;
		height: 44px;
}
#logo_1{
		position: absolute;
		margin-top: -4px;
		margin-left:62px; 	
		font-family: Verdana-Bold;
		font-size: 29px;
		color: #ffffff;
		text-transform:uppercase;
		
}
#logo_2{
		position: absolute;
		margin-top: 28px;
		margin-left:63px;
		font-family: Verdana-Bold;
		font-size: 18px;
		color: #ffffff;
		text-transform:uppercase;  

}
.logo:hover #logo_1{
		color: #f26522;
		transition: 1.5s;
}
.logo:hover #logo_2{
		color: #f26522;
		transition: 1.5s;
}
.logo:hover .logo1{
		background-image: url(../img/logo1.png);
		transition: 1.5s;
}

#mail{
		position: relative;
		margin-top:52px;
		margin-right: 147px;
		float: right;
		font-family: Verdana;
		font-size: 18px;
		color: #ffffff;
}
#tel{
		position: relative;
		float: right;
		margin-top:77px;
		margin-right: -243px;
		font-family: Verdana;
		font-size: 18px;
		color: #ffffff;
}

.content{
	    height: 548px;
		width: 1065px;
		
		float: left;
		position: relative;
		margin-left: 155px;
	


}
.block1{
 	   text-align: center;
	   position:relative;
		margin-top: 45px;
		height: 246px;
		width: 311px;
		float: left;
		margin-right: 65px;


}



.block2{
		text-align: center;
	    position:relative;
		height: 246px;
		width: 311px;
		float: right;
		margin-top:-246px;
		margin-left:65px;

}

.blockhead1{
		position:relative;
		height: 200px;
		width: 311px;
		overflow: hidden;
	  
}
.blockshow1:after{
   	    position:absolute;  
    	content:">";
 		font: 20px 'Consolas';
		display:block;
		color: white;
		opacity: 0.3;
    	top:30px;
		left: 287px;
}
.blockshow1{
    	position: absolute;
    	bottom: 0;
    	margin-bottom: -100px;
    	width: 312px;
		height: 63px;
    	background:#f26522;
    	transition: margin 0.5s linear;


}
#text11{
		position:absolute; 
		margin-top:15px;
		margin-left:-134px;
		font-family: Verdana;
		font-size: 10px;
		color: #ffffff;
}
#text12{
		position:absolute; 
		margin-top:30px;
		margin-left:-134px;
		font-family: Verdana;
		font-size: 20px;
		color: #ffffff;
}
#text13{
		position:absolute; 
		margin-top:35px;
		margin-left:30px;
		font-family: Verdana;
		font-size: 14px;
		color: #ffffff;
}
#photo1,#photo2,#photo3,#photo4,#photo5,#photo6{
		position: absolute;	
		width:307px;
		height:246px;
		border:2px solid;
		border-image:linear-gradient(white, rgba(0, 0, 0, 0)
    ) 1 1 1 1;
}
#photo1{background-image: url(../img/photo1.jpg);}
#photo2{background-image: url(../img/photo2.jpg);}
#photo3{background-image: url(../img/photo3.jpg);}
#photo4{background-image: url(../img/photo4.jpg);}
#photo5{background-image: url(../img/photo5.jpg);}
#photo6{background-image: url(../img/photo6.jpg);}
#link1_2{
		position: relative;
		font-family: Verdana;
		font-size: 18px;
	    top:20px;
		text-align: center;
		color: #ffffff;
		margin:0 auto;

}
.link1:hover .blockshow1{
		margin-bottom: 0;
}
.link1:hover #link1_2{
color: #f26522;
}	
.Copyright{
    	position: absolute;
		font-family: Verdana;
		font-size: 12px;
		top:736px;
		left: 512px;
		text-align: center;
		color: #ffffff;
}