@font-face
{
    font-family: "RobotoMedium";
    font-style: normal;
    font-weight: 500;
    src:  url("/fonts/Roboto/Roboto-Medium.ttf") format("truetype"),
         url("fonts/Roboto/roboto-medium.woff") format("woff"),
         url("fonts/Roboto/roboto-medium.woff") format("woff2");
       
}

.container{
    
    width: 100%;
    max-width: 1280px;
    padding-left: 33px;
    padding-right: 33px;
    padding-top: 61px;
    padding-bottom: 30px;
}
.logo{
    height: 67px;
    font-size: 80px;
    padding-bottom: 47px;
}
.sl{
    color: black;
    text-decoration: none;
}
span{
    color: #4bcaff;
}
.sideblock{
    border: 1px solid #818181;
}

.zagmen
{
    background-color: #35444f;
    text-align: center;
    

}
.ElZm {
    display: inline-block;
    font-size: 24px;
    color: white;
    padding :0px 40px ;
    line-height: 67px;
    text-decoration: none;
}
.ElZm:hover{
    background: #222f3a;
     border: 1px solid #818181;
}
main{
    height: 880px;
    padding-top: 50px;
}
.sideblock{
    height: 400px;
    width: 340px;
    float: left;
    border: 1px solid #35444f;
   
}
.BokMenu a{
    display: block;
    padding-left: 40px;
    padding-top: 26px;
    padding-bottom: 26px;
    font-size: 27px;
    text-decoration: none;
     text-decoration: none;
    color: #35444f;
}

.BokMenu a:hover{
    background: #dbdbdb;
    padding-left: 60px;
    color: black;
}

.mblock{
  float: right;
    
}

p{
    margin-bottom: 1000px;
}

.imgb{
    float: right;
    width: 885px;
    height: 530px;
    padding-left: 50px;
    float: right;
    display: inline-block;
}

.tblock{
    font-family: "Roboto", sans-serif;
    float: right;
    width: 830px;
    padding-left: 30px;
    padding-top: 50px;
    padding-right: 30px;
}
.nf{
  display: block;*/

    height: 70px;
    background-color: #b4b7ba;
    margin-bottom: 30px;
    letter-spacing: 0px;

} 
.fot{
    display: inline-block;
    height: 70px;
    background-color: #b4b7ba;
    margin-bottom: 30px;
    letter-spacing: 0px;
      margin-top: 50px;
}

.fmenu{
  
 
    float: left;
    font-size: 28px;
    line-height: 67px;
    margin-left: 25px;   
}
.fmenu a{
    color: #0c1927;
    padding: 0 10px;
    text-decoration: none;
}
.fmenu a:hover{
   text-decoration: underline; 
    color: #3181a6;
}
.copyr{
    margin-left: 247px;
    float: right;
    line-height: 67px;
    font-size: 24px;
    margin-right: 32px;
}

.nb{
    display: block;
     margin-left:px;
     float: right;
    width: 100%;
max-width: 1280px;
    background-color: #b4b7ba;
     height: 67px;
     margin-top: 50px;
    margin-bottom: 30px;
    font-size: 24px;
    margin-left: 44px;
}
.coprt{
    padding-left: 44px;
     float: right;
    margin-right: 35px;
   
}
.nbokp{
   
    color: #0c1927;
     font-size: 28px;
     line-height: 67px;
    
}
.nb a{
    
    text-decoration: none;
    padding-right: 25px;
}
.nb a:hover{
    text-decoration: underline; 
    color: #3181a6;
}

li{
    margin-left: 161px;
}
p{
   line-height: 30px;
}
.imgb{
    display: inline-block;
    overflow: hidden;
}
.imgb img{
    transition: 1s;
    display: block;
}
.imgb img:hover{
    transform: scale(1.2);
}
.copyr{
     float: right;
    line-height: 70px;
    font-size: 22px;
    margin-right: 35px;
}

.coprt{
    width: 100%;
max-width: 1280px;
    background-color: #b4b7ba;
     height: 67px;
}

br{
    padding:30px 0;
}


